/*
File Name:          yurts.html
Programmer Name:    Sebastian Malysa
Date Last Compiled: 10/07/2015
Purpose:            To provide a consistent styling to the Home and Yurts page.
*/

body { background-color: #FFFFFF;
       color: #666666 }
header { background-color: #000033;
         color: #FFFFFF }
nav { background-color: #90C7E3; }
h1 { margin-bottom: 0; }
h2 { color: #3399CC; }
dt { color: #000033; }
.resort { color: #5C7FA3; }