/*
File Name:          pacific.css
Programmer Name:    Sebastian Malysa
Date Last Compiled: 10/28/2015
Purpose of File:    To provide styling to the Pacific Trails web pages
*/

body { background-color: #4F6D93;
       background-image: linear-gradient(to bottom, #FFFFFF, #4F6D93);
       background-repeat: no-repeat;
       color: #666666;
       font-family: Arial, Helvetica, san-serif; }

header { background-color: #000033;
         color: #FFFFFF;
         background-image: url(sunset.jpg);
         background-position: right;
         background-repeat: no-repeat;
         height: 60px;
         padding-top: 10px;
         text-align: center; }

nav { font-weight: bold;
      padding: 10px;
      float: left;
      width: 160px; }

nav a { text-decoration: none; }

nav a:link { color: #000033; }
nav a:visited { color: #344873; }
nav a:hover { color: #FFFFFF; }

nav ul { list-style-type: none;
         margin: 0;
         padding-left: 0px;
         font-size: 1.2e,; }

main { background-color: #FFFFFF;
       margin-left: 190px;
       padding: 1px 20px 20px 30px;
       display: block; }

main ul { list-style-image: url(marker.gif); }

h1,h2,h3,footer { font-family: Georgia, Times New Roman, serif; }

h1 { margin-bottom: 0;
     margin-top: 0; }

h2 { color: #3399CC;
     box-shadow: 1px 1px 1px #CCCCCC; }

dt,h3 { color: #000033; }

#wrapper { margin: auto;
           width: 80%;
           min-width: 960px;
           max-width: 2048px;
           background-color: #90C7E3;
           box-shadow: 3px 3px 3px #333333; }

#homehero { background-image: url(coasthero.jpg);
            height: 300px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin-left: 190px; }

#yurthero { background-image: url(yurthero.jpg);
            height: 300px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin-left: 190px; }

#trailhero { background-image: url(trailhero.jpg);
             height: 300px;
             background-size: 100% 100%;
             background-repeat: no-repeat;
             margin-left: 190px; }

.resort { color: #5C7FA3;
          font-weight: bold; }

#contact { font-size: 90%; }

footer { background-color: #FFFFFF;
         margin-left: 190px;
         text-align: center;
         font-style: italic;
         font-size: 75%;
         padding: 20px; }
