/*
File Name:          pacific.css
Programmer Name:    Sebastian Malysa
Date Last Compiled: 10/14/2015
Purpose of File:    To provide styling to the Pacific Trails web pages
*/

body { background-color: #FFFFFF;
       color: #666666;
       font-family: Arial, Helvetica, san-serif; }
header { background-color: #000033;
         color: #FFFFFF;
         background-image: url(sunset.jpg);
         background-position: right;
         background-repeat: no-repeat;
         line-height: 400%;
         text-indent: 1em; }
nav { background-color: #90C7E3;
      font-weight: bold; }
nav a { text-decoration: none; }
h1,h2,h3,footer { font-family: Georgia, Times New Roman, serif; }
h1 { margin-bottom: 0; }
h2 { color: #3399CC; }
ul { list-style-image: url(marker.gif); }
dt,h3 { color: #000033; }
.resort { color: #5C7FA3;
          font-weight: bold; }
#contact { font-size: 90%; }
footer { text-align: center;
         font-style: italic;
         font-size: 75%; }
