/*
File Name:          pacific.css
Programmer Name:    Sebastian Malysa
Date Last Compiled: 10/14/2015
Purpose of File:    To provide styling to the Pacific Trails web pages
*/

body { background-color: #90C7E3;
       background-image: linear-gradient(to bottom, #FFFFFF, #90c7E3);
       background-repeat: no-repeat;
       color: #666666;
       font-family: Arial, Helvetica, san-serif; }

header { background-color: #000033;
         color: #FFFFFF;
         background-image: url(sunset.jpg);
         background-position: right;
         background-repeat: no-repeat;
         height: 60px;
         padding-top: 10px;
         text-align: center; }

nav { background-color: #FFFFFF;
      font-weight: bold;
      padding: 10px;
      text-align: center; }

nav a { text-decoration: none; }

main { padding: 1px 20px 20px;
       display: block; }

h1,h2,h3,footer { font-family: Georgia, Times New Roman, serif; }

h1 { margin-bottom: 0;
     margin-top: 0; }

h2 { color: #3399CC;
     box-shadow: 1px 1px 1px #CCCCCC; }

ul { list-style-image: url(marker.gif); }

dt,h3 { color: #000033; }

#wrapper { margin: auto;
           width: 80%;
           min-width: 960px;
           max-width: 2048px;
           background-color: #FFFFFF;
           box-shadow: 3px 3px 3px #333333; }

#homehero { background-image: url(coasthero.jpg);
            height: 300px;
            background-size: 100% 100%;
            background-repeat: no-repeat; }

#yurthero { background-image: url(yurthero.jpg);
            height: 300px;
            background-size: 100% 100%;
            background-repeat: no-repeat; }

#trailhero { background-image: url(trailhero.jpg);
             height: 300px;
             background-size: 100% 100%;
             background-repeat: no-repeat: }

.resort { color: #5C7FA3;
          font-weight: bold; }

#contact { font-size: 90%; }

footer { text-align: center;
         font-style: italic;
         font-size: 75%;
         padding: 20px; }
