/*
File Name:          style.css
Programmer Name:    Sebastian Malysa
Date Last Compiled: 10/28/2015
Purpose of File:    To display the CSS for Hands-On Exercises 1-4
*/

/*Hands-On Exercise #1*/

#id { position: fixed;
      background-color: #d3d3d3;
      font-weight: bold;
      padding: 10px; }

/*Hands-On Exercise #2*/

#id { float: left;
      background-color: #f5f5dc;
      font-family: Verdana, sans-serif;
      padding: 20px; }

/*Hands-On Exercise #3*/

#id { position: absolute;
      top: 20px;
      right: 40px;
      border-style: solid;
      background-color: #d3d3d3; }

/*Hands-On Exercise #4*/

.class { position: relative;
         left: 15px;
         background-color: #8BA870; }