/*
File Name:          style.css
Programmer Name:    Sebastian Malysa
Date Last Compiled: 10/16/2015
Purpose of File:    To display the CSS for Hands-On Exercises #3 and #7
*/

/*Hands-On Exercise #3*/

.headline { color: #FF0000;
            border-bottom: 2px dotted #FFFFFF; }

/*Hands-On Exercise #7*/

#content { opacity: 0.7; }