/*
File Name:          bistro.css
Programmer Name:    Sebastian Malysa
Date Last Compiled: 10/28/2015
Purpose of File:    To provide styling to the my favorite hobby website
                    for Hands-On Exercise #5 and #6
*/

body { font-family: Verdana, Arial, sans-serif;
       background-color: #000000; }

#wrapper { background-color: #993300;
           color: #FFFFCC;
           width: 80%;
		   margin: auto; }

header { background-color: #CC9966;
         color: #FFFFCC;
         font-size: 120%;
         padding: 10px 10px 10px 175px;
		 height: 100px; }

header h1 { margin-bottom: 0; }

nav { float: left;
      width: 150px;
      letter-spacing:0.1em;
      font-weight: bold; }

nav ul { list-style-type: none;
         margin: 0;
         padding: 0; }

nav a { text-decoration: none;
        display: block;
	    padding: 20px;
        background-color: #993300;
	    border-bottom: 1px solid #FFFFCC; }

nav a:link { color: #FFFFCC; }
nav a:visited { color: #000000; }
nav a:hover { background-color: #CC9966;
              color: #000000;}

main { background-color: #666666;
       color: #FFFFCC;
       padding: 10px 20px;
       overflow: auto;
       display: block; }

article header { background-color: #666666;
                 background-image: none;
                 font-size: 100%;
                 padding-left: 0;
                 height: auto; }


figure { float: right;
         width: 260px;
		 margin: 10px; }

img { max-width: 100%;
      height: auto; }

figcaption { text-align: center;
		     font-size: .8em;
		     font-style: italic; }

footer {font-size: 70%;
        text-align: center;
        padding: 10px;
        background-color: #CC9966;
        color: #FFFFCC;
        clear: both; }

header, main, nav, footer, figure, figcaption { display: block; }

@media only screen and (max-width: 1024px) {
    body { margin: 0; }
    #wrapper { width: auto; }
    main { margin-left: 0; }
    nav { float: none;
          width: auto; }
    nav li { display: inline-block;
             padding: 0.5em; }
    nav ul { text-align: center; }
    nav a { border-style: none; }
    h1, h2 { font-size: 120%; }
    p { font-size: 90%; } }

@media only screen and (max-width: 768px) {
    h1, h2 { font-size: 100%; }
    article { font-size: 80%; }
    figure { display: none; }
    nav, nav ul, nav li { padding: 0; }
    nav li { display: block; }
    nav a { display: block;
            padding: 0.5em 0;
            border-bottom: 2px ridge #00005D; } }
