/*
File Name:          bistro.css
Programmer Name:    Sebastian Malysa
Date Last Compiled: 10/28/2015
Purpose of File:    To provide styling to the Lighthouse Island Bistro website
                    for Hands-On Practice 8.7
*/

body { font-family: Verdana, Arial, sans-serif;
       background-color: #00005D; }

#wrapper { background-color: #b3c7e6;
           color: #000066;
           width: 80%;
		   margin: auto;
           min-width:940px; }

header { background-color: #869dc7;
         color: #00005D;
         font-size: 150%;
         padding: 10px 10px 10px 155px;
		 background-image: url(lighthouselogo.jpg);
		 background-repeat: no-repeat;
		 height: 130px; }

header h1 { margin-bottom: 0; }

header span { font-size: .80em;
              font-style: italic;
              color: #00005D;
              padding-left: 15em; }

nav { float: left;
      width: 150px;
      letter-spacing:0.1em;
      font-weight: bold; }

nav ul { list-style-type: none;
         margin: 0;
         padding: 0; }

nav a { text-decoration: none;
        display: block;
	    padding: 20px;
        background-color: #b3c7e6;
	    border-bottom: 1px solid #ffffff; }

nav a:link { color: #ffffff; }
nav a:visited { color: #eaeaea; }
nav a:hover { background-color: #eaeaea;
              color: #869dc7;}

main { background-color: #ffffff;
       color: #000000;
       padding: 10px 20px;
       overflow: auto;
       display: block; }

article header { background-color: #FFFFFF;
                 background-image: none;
                 font-size: 100%;
                 padding-left: 0;
                 height: auto; }

aside { float: right;
        width: 15em;
        padding: 1em;
        background-color: #d3d3d3;
        font-size: 80%;
        box-shadow: 5px 5px 5px;
        position: relative;
        top: -20px; }

h2 { color: #869dc7;
     font-family: arial, sans-serif;
     margin: 5px; }

figure { float: right;
         width: 260px;
		 margin: 10px; }

figcaption { text-align: center;
		     font-size: .8em;
		     font-style: italic; }

footer {font-size: 70%;
        text-align: center;
        padding: 10px;
        background-color: #869dc7;
        clear: both; }