<!--
File Name:          exercises.html
Programmer Name:    Sebastian Malysa
Date Last Compiled: 12/1/2015
Purpose of File:    To display the answers to Hands-On Exercises 1-5 for
                    chapter 11
-->

1.

<a href="sparky.mov">Sparky</a> (MOV)

2.

<audio control="control">
    <source src="soundloop.mp3" type="audio/mpeg">
    <a href="soundloop.mp3">Download Sound Loop</a> (MP3)
</audio>

3.

<video controls="controls" poster="movie.jpg" width="480" height="360">
    <source src="movie.m4v" type="video/mp4">
    <source src="movie.ogv" type="video/ogg">
    <a href="movie.mov">Movie</a> (.mov)
</video>

4.

<embed type="application/x-shockwave-flash"
       src="flashbutton.swf" quality="high"
       width="350" height="260"
       title="Flash Button">

5.

<iframe src="http://webdevbasics.net" width="650" height="400">
    <a href="http://webdevbasics.net">Web Dev Basics</a>
</iframe>
