/*
File Name:          lighthouse.css
Programmer Name:    Sebastian Malysa
Date Last Compiled: 10/28/2015
Purpose of File:    To provide styling to the Lighthouse Island Bistro website
                    for Hands-On Practice 7.7
*/

body { background-color: #00005D;
       font-family: Verdana, Arial, sans-serif; }

header { background-color: #869DC7;
         color: #00005D;
         font-size: 150%;
         padding: 10px 10px 10px 155px;
         height: 130px;
         background-repeat: no-repeat;
         background-image: url(lighthouselogo.jpg); }

nav { float: right;
      width: 150px;
      font-weight: bold;
      letter-spacing: 0.1em; }

nav ul { list-style-type: none;
         margin: 0;
         padding: 0; }

nav a { text-decoration: none;
        padding: 20px;
        display: block;
        background-color: #B3C7E6;
        border-bottom: 1px solid #FFFFFF; }

nav a:link { color: #FFFFFF; }
nav a:visited { color: #EAEAEA; }
nav a:hover { color: #869DC7;
              background-color: #EAEAEA; }

main { background-color: #FFFFFF;
       color: #000000;
       padding: 10px 20px;
       overflow: auto;
       display: block; }

footer { font-size: 70%;
         text-align: center;
         padding: 10px;
         background-color: #869DC7;
         clear: both; }

#wrapper { margin: 0 auto;
           width; 80%;
           min-width: 940px;
           background-color: #B3C7E6;
           color: #000066; }